@{
    ViewBag.Title = "Cargo details";
}

@model CargoDetailsViewModel

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Name</h3>
            <p class="mb-2"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="mb-2"><span class="fw-bold">Weight (tones): </span>@Model.Weight</p>
            <p class="mb-2"><span class="fw-bold">Category: </span>@Model.Category</p>
            <p class="mb-2"><span class="fw-bold">Physical state: </span>@Model.PhysicalState</p>
            <p class="mb-2"><span class="fw-bold">Creator's name: </span>@Model.CreatorName</p>
        </div>

        <a asp-controller="Cargo" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">All cargoes</a>

        @if (User?.Identity?.Name?.ToLower() == Model.CreatorEmail)
        {
            <a asp-controller="Cargo" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold" style="background-color: darkorange">Edit</a>
            <a asp-controller="Cargo" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold" style="background-color: red">Delete</a>
        }
        else
        {
            <a asp-controller="Cargo" asp-action="Deliver" class="btn btn-warning mb-2 w-100 p-3 fw-bold" style="background-color: green">Deliver this cargo</a>
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
