@{
    ViewData["Title"] = "Edit cargo";
}

@model CargoEditViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1 align="center">@ViewData["Title"]</h1>

    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label-add-edit">Name</label>
            <input asp-for="@Model.Name" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
            <input asp-for="@Model.Description" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Weight" class="form-label-add-edit"></label>
            <input asp-for="@Model.Weight" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Weight" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ImageUrl" class="form-label-add-edit"></label>
            <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
        </div>
        <div class="row">
            <div align="justify" class="mb-3" style="width: 44%">
                <label>Cargo physical state</label>
                <select asp-for="@Model.PhysicalState" class="form-control" aria-required="true">
                    <option value="0">Hard</option>
                    <option value="1">Liquid</option>
                    <option value="2">Gas</option>
                </select>
            </div>
            <div align="justify" class="mb-3" style="width: 53%">
                <label>Cargo category</label>
                <select asp-for="@Model.Category" class="form-control" aria-required="true">
                    <option value="0">Food</option>
                    <option value="1">Livestock</option>
                    <option value="2">Chemicals</option>
                    <option value="3">Flameable substances</option>
                    <option value="4">Cars</option>
                    <option value="5">Equipment or machinery</option>
                    <option value="6">Dry bulk cargo</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Edit" />
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>