@model TruckAllViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>@Model.Make @Model.Model</h4>
            <h6>Fuel capacity: <b>@Model.FuelCapacity</b> litres</h6>
            <h6>Travelled distance: <b>@Model.TravelledDistance</b> km</h6>
            <br />
            <a asp-controller="Truck" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success" style="background-color: blue">Details</a>
            <a asp-controller="Truck" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-success" style="background-color: orange">Edit</a>
            <a asp-controller="Truck" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-success" style="background-color: red">Delete</a>
            <a asp-controller="Truck" asp-action="Drive" asp-route-id="@Model.Id"
               class="btn btn-success" style="background-color: green">Get to drive</a>
        </div>
    </div>
</div>