@model TrailerAllViewModel

@{
    switch (Model.Category)
    {
        case "Platform":
            Model.Category = "Platform";
            break;
        case "Refrigerator":
            Model.Category = "Refrigerator";
            break;
        case "Gondola":
            Model.Category = "Gondola";
            break;
        case "TankTruck":
            Model.Category = "Tank truck";
            break;
        case "ContainerShip":
            Model.Category = "Container ship";
            break;
        case "CarTransporter":
            Model.Category = "Car transporter";
            break;
    }
}

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h2>V&D Cargo's trailer</h2>

            <img src="@Model.ImageUrl" style="width: 50%; height: 50%" />

            <h6>Capacity: <b>@Model.Capacity</b> tones</h6>
            <h6>Category: <b>@Model.Category</b></h6>
            
            <a asp-controller="Trailer" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success" style="background-color: blue">Details</a>
            <a asp-controller="Trailer" asp-action="GetToDrive" asp-route-id="@Model.Id"
               class="btn btn-success" style="background-color: green">Get the trailer</a>
        </div>
    </div>
</div>