@{
    ViewData["Title"] = "Edit trailer";
}

@model TrailerEditViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1 align="center">@ViewData["Title"]</h1>

    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="@Model.Capacity" class="form-label-add-edit"></label>
            <input asp-for="@Model.Capacity" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
        </div>

        <div class="form-group col-md-30 d-flex justify-content-between">
            <div style="width: 25%" align="right" class="form-group col-mb-10">
                <h5>Trailer condition</h5>
                <label>Excellent</label>
                <input style="margin-right: 15px" asp-for="@Model.Condition" type="radio" value="0" />
                <br />
                <label>Very good</label>
                <input style="margin-right: 15px" asp-for="@Model.Condition" type="radio" value="1" />
                <br />
                <label>Good</label>
                <input style="margin-right: 15px" asp-for="@Model.Condition" type="radio" value="2" />
                <br />
                <label>Bad</label>
                <input style="margin-right: 15px" asp-for="@Model.Condition" type="radio" value="3" />
                <br />
                <label>Need of service</label>
                <input style="margin-right: 15px" asp-for="@Model.Condition" type="radio" value="4" />
                <br />
            </div>

            <div style="width: 25%" align="right" class="form-group col-mb-10">
                <h5>Trailer category</h5>
                <label>Platform</label>
                <input style="margin-right: 15px" asp-for="@Model.Category" type="radio" value="0" />
                <br />
                <label>Refrigerator</label>
                <input style="margin-right: 15px" asp-for="@Model.Category" type="radio" value="1" />
                <br />
                <label>Gondola</label>
                <input style="margin-right: 15px" asp-for="@Model.Category" type="radio" value="2" />
                <br />
                <label>Tank truck</label>
                <input style="margin-right: 15px" asp-for="@Model.Category" type="radio" value="3" />
                <br />
                <label>Container ship</label>
                <input style="margin-right: 15px" asp-for="@Model.Category" type="radio" value="4" />
                <br />
                <label>Car transporter</label>
                <input style="margin-right: 15px" asp-for="@Model.Category" type="radio" value="5" />
                <br />
            </div>

            <div style="width: 25%" align="right" class="form-group col-mb-10">
                <h5>Trailer dementions</h5>
                <label>Small trailer</label>
                <input style="margin-right: 15px" asp-for="@Model.Dementions" type="radio" value="0" />
                <br />
                <label>Hanger</label>
                <input style="margin-right: 15px" asp-for="@Model.Dementions" type="radio" value="1" />
                <br />
                <label>Mega trailer</label>
                <input style="margin-right: 15px" asp-for="@Model.Dementions" type="radio" value="2" />
                <br />
                <label>Jumbo trailer</label>
                <input style="margin-right: 15px" asp-for="@Model.Dementions" type="radio" value="3" />
            </div>
        </div>
        <br />
        <div class="mb-3">
            <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Edit" />
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>